.main {
text-align: center;
 background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(210,19,19,0.38279061624649857) 0%, rgba(225,236,236,1) 100%);
         background-position: center;
            background-repeat: no-repeat;
                background-size: cover;
                    background-image: url(./img/Toms.jpeg);

  
  

  
  font-family: 'PT Sans Narrow', sans-serif; 
}

p{
color: darkred;
    font-weight: bold;
}
#card{
background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(210,19,19,0.38279061624649857) 0%, rgba(255,255,255,1) 100%);       
      background-repeat: no-repeat; 
        background-size: cover;
        
}

#back{
background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(210,19,19,0.38279061624649857) 0%, rgba(255,255,255,1) 100%); 
     

}


.head{
background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(210,19,19,0.38279061624649857) 0%, rgba(255,255,255,1) 100%);
        width: 100%;
}









